@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f4;
  color: #676a6c;
  font-size: 62.5%;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Open Sans", sans-serif;
  line-height: 1.3rem;
}

.flex-parent {
  display: flex;
  justify-content: space-evenly;
  padding-left: 1.6rem;
  padding-right: 1.5rem;
  margin-top: 1.1rem;
  margin-left: -0.5rem;
}

.flex-parent .left {
  flex-basis: 75%;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  margin-right: 1.8rem;
  height: 100%;
  margin-bottom: 2rem;
}

.flex-parent .left .left-top-bar {
  display: flex;
  border-bottom: 0.1rem solid lightgray;
  border-top: 0.1rem solid lightgray;
  justify-content: space-between;
  padding-top: 0.9rem;
  padding-left: 0.9rem;
  padding-bottom: 0.8rem;
  padding-right: 5.8rem;
  /* font-weight: bold; */
  font-size: 1rem;
}

.left-top-bar .left-data {
  color: #7f8283;
}
/* 
.left {
  display: flex;
} */
.left .item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  border-bottom: 0.1rem solid lightgray;
  padding-left: 0.9rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
  padding-bottom: 1rem;
}

.left .image-box {
  /* flex-basis: 10%; */
  height: 5.5rem;
  width: 5.5rem;
  background-color: #f7f7f8;
  /* border: 1px solid black; */
  margin-left: 1rem;
  margin-top: 2rem;
}

.left .item .details {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 1.4rem;
  padding-top: 1.9rem;
  padding-bottom: 1rem;
  gap: 1rem;
  /* border: 1px solid blue; */
}

.left .item .details h4 {
  color: #4cb89b;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.left .item .details p {
  font-size: 0.8rem;
  margin-top: -0.4rem;
}

.left .item .details .nospace {
  margin-top: -1.3rem;
}

.left .item .details .span-icon {
  font-size: 0.8rem;
}

.left .item .details h5 {
  font-size: 0.8rem;
  margin-top: -0.4rem;
}

.left .item .price-quantity {
  flex-basis: auto;
  display: flex;
  gap: 2.1rem;
  justify-content: space-between;
  color: #919495;
}

.price {
  display: flex;
  justify-content: space-evenly;
  gap: 0.9rem;
  padding-top: 2rem;
}

.price .price1 {
  font-size: 0.9rem;
  text-align: right;
  align-self: flex-start;
  padding: 0.2rem;
}

.price .price1 s {
  font-size: 0.84rem;
  font-weight: normal;
}

.quantity {
  /* align-self: flex-start; */
  margin-top: 2rem;
}
.quantity input {
  border: none;
  border: 0.04rem solid rgb(163, 161, 161);
}
.counter {
  width: 3.8rem;
  height: 2.8rem;
  font-size: 0.9rem;
  color: #727b82;
  display: flex;
  padding: 1.1rem;
  border: 1px solid #eff0f0;
}

.final-amount {
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 1.16rem;
  font-weight: 500;
  padding: 0.5rem 0;
  color: #919495;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.4rem;
  /* margin-bottom: 1.3rem; */
}

.footer .left-btn {
  border: none;
  background: white;
  border: 0.06rem solid rgb(192, 192, 192);
  border-radius: 0.2rem;
  padding: 0.5rem 0.7rem;
}

.btntxt {
  color: rgb(97, 96, 96);
}

.flex-parent .right {
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border-top: 0.13rem solid #e2e2e2 */
  background-color: #fefefe;
  height: 100%;
}

.flex-parent .right-heading {
  color: #7f8283;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid lightgray;
}

.flex-parent .cart-summary {
  /* border: 1px solid red; */
  /* padding-left: 0.7rem; */
  padding: 0.1rem 1rem;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-parent .cart-summary .total {
  font-size: 1rem;
  color: gray;
}

.total-price {
  font-size: 1.7rem;
  font-weight: 600;
  color: #909395;
  border-bottom: 0.13rem solid #f0efef;
  padding-bottom: 2rem;
  padding-top: 0.8rem;
}

.cart-summary p {
  line-height: 1.7rem;
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

button {
  border: none;
  background: none;
  font-size: 1rem;
}

.checkout {
  padding: 0.45rem 0.8rem;
  background: #18b391;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  color: white;
  font-size: 0.1rem;
}

.check-out-span {
  color: white;
}

.cart-icon {
  color: white;
}
.cancel {
  padding: 0.45rem 0.8rem;
  background: rgb(255, 255, 255);
  color: #909395;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  font-size: 1.1rem;
  border: 0.1rem solid rgb(231, 231, 231);
}
